@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
}

@keyframes titleAnim {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animateTitle {
  animation-name: titleAnim;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
